

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
} 


.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 3;
  height: 100%;
}

.playlist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  height: 100%;
}

.navBar {
  padding-top: 100px;
  width: 700px;
}

.appBar {
  position: fixed;
}

.style__circular___2yZZn {
  padding-top: 40px !important;
}
