
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
} 


.login {
  margin-top: 250px;
  display: block;
  background-color: #ccc;
}

.landing-page {
  padding-top: 20px;
  display: block;
  text-align: center;
  background-color: #ccc;
  margin: 0 auto;
}


.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
}

.usersCardsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
}

.playlist {
  padding-left: 50px;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

.playlistDrawer {
  width: 500px;
}

.navBar {
  padding-top: 100px;
  width: 700px;
}

.appBar {
  position: fixed;
}

.style__circular___2yZZn {
  padding-top: 40px !important;
}
